@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

@font-face {
    font-family: fonteKeyrus;
    src: url(KUS_Branding-SemiLight.ttf);
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: fonteKeyrus;
    scroll-behavior: smooth;
}

header img{
    width:154px;
    height:46px;
}

.nav-item{
    color: black;
    font-weight: 900;
}

.img-fluid{
    height: 60px;
}

#cd{
    box-shadow:1px 1px 5px black;
}

footer
{
    padding:100px; 
    width: auto;  
}

.contact
{
    background: #eaf4fd;
    width:100%;
}

.contact .content{
    position: relative;
    text-align: center;
}

.contactForm
{
    position: relative;
    max-width: 800px;
    margin:0 auto;
    display: flex;
}

.contactForm form
{
    width: 100%;
}

.contactForm .row100
{
    display:flex;
    width:100%;   
}

.contactForm .row100 .inputBx50
{
    width: 50%;
    margin: 0 20px;

}

.contactForm .row100 .inputBx100
{
    width: 100%;
    margin: 0 20px;
}

.contactForm .row100 input,
.contactForm .row100 textarea
{
    position: relative;
    border-radius:10px;
    border-bottom:1px solid black;
    color: black;
    background: black;
    width: 100%;
    padding-top: 10px 0;
    outline: none;
    font-size: 18px;
    font-weight: 300;
    margin: 20px 0;
    resize: none;
}

.contactForm .row100 textarea
{
    height: 100px;
}

.contactForm .row100 input::placeholder,
.contactForm .row100 textarea::placeholder
{
    color:rgba(255,255,255,0.5);
}

.contactForm .row100 input[type="submit"]
{
    background: black;
    color: white;
    max-width: 100px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    font-weight: 500;
}

.sci
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:50px 0;
}

.sci ul
{
    display: flex;
}

.sci ul li
{
    list-style: none;
}

.sci ul li a
{
    text-decoration: none;
    display: inline-block;
    margin: 0 30px;
}

.sci ul li a img
{
    filter: invert(1);
    max-width: 40px;
    background: white;
}

.sci ul li a:hover img
{
    opacity: 0.5;
}




